@font-face {
  font-family: Inter;
  src: url(fonts/Inter.ttf);
}

:root {
/*COLORS*/
--clr-primary-400: #E6E7EE;
--clr-accent-400: #7152F3; 
--clr-accent-500: #A3D139; 

--clr-text-400: #5E807F;

--clr-neutral-900: hsl(0, 0%, 5%); 
--clr-neutral-800: hsl(0, 0%, 10%); 
--clr-neutral-700: hsl(0, 0%, 15%); 
--clr-neutral-600: hsl(0, 0%, 20%); 
--clr-neutral-500: hsl(0, 0%, 40%); 
--clr-neutral-400: hsl(0, 0%, 60%); 
--clr-neutral-300: hsl(0, 0%, 70%);
--clr-neutral-200: hsl(0, 0%, 85%);
--clr-neutral-100: hsl(0, 0%, 95%);

--ff-primary: 'Inter', sans-serif;

--ff-body: var(--ff-primary);
--ff-heading: var(--ff-primary);

--fw-regular: 400;
--fw-bold: 600;

--fs-100: .8125rem; /* 13px */
--fs-200: .875rem;	/* 14px */
--fs-300: .9375rem;	/* 15px */
--fs-400: 1rem;	/* 16px */
--fs-500: 1.25rem; /* 20px */
--fs-600: 1.5rem; /* 24px */
--fs-700: 2rem; /* 32px */
--fs-800: 3rem;	/* 48px */

--fs-body: var(--fs-100);
--fs-primary-heading: var(--fs-600);
--fs-secondary-heading: var(--fs-500);
--fs-button: var(--fs-300);

--size-100: .25rem; /* 4px */
--size-200: .5rem;	/* 8px */
--size-300: .75rem; /* 12px */
--size-400: 1rem; /* 16px */
--size-500: 1.5rem;	/* 24px */
--size-600: 2rem;	/* 32px */
--size-700: 3rem;	/* 48pxpx */
--size-800: 4rem;	/* 64px */
--size-900: 5rem; /* 80px */
}

/*HIGHER SCREEN*/
@media (min-width: 50em) { :root {--fs-body: var(--fs-400);} }

* {
  padding: 0;
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-400);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
}

input[type="submit"],
button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

