@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('utilities.css');
@import url('modal.css');

/* NAVIGATION */
.nav-header {
  padding: var(--size-300) 0;
}
/* NAVIGATION */

/* TABLE */
.table-img-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-200);
}
/* TABLE */

/* DEPARTMENT */
.department-card {
  background-color: var(--clr-neutral-100);
  border: solid 1px var(--clr-neutral-300);
  align-self: flex-start
}

.department-card-header {
  border-bottom: solid 1px var(--clr-neutral-200);
  padding: var(--size-400);
}

.department-card-body {
  padding: var(--size-400);
  border-top: solid 1px var(--clr-neutral-200);
}
/* DEPARTMENT */

/* Tab Indicators */
#add-employee-form {
  background-color: var(--clr-neutral-100);
  border: solid 1px var(--clr-neutral-300);
}

.section-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px var(--clr-neutral-300);
  padding: var(--size-400) var(--size-300);
}

.tabs {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: var(--fw-bold);
  border-bottom: solid 1px var(--clr-neutral-300);
  cursor: pointer;
  padding: var(--size-200);
  transition: 0.3s ease-in-out;
}

.tabs:hover {
  color: #5D3DE7;
  border-color: #5D3DE7
}

.tabs.active {
  color: var(--clr-accent-400);
  border-bottom: solid 2px var(--clr-accent-400);
  background-color: transparent;
}

/* Hiding/Showing Steps */
.form-step {
  display: none;
  padding: var(--size-500);
}

.form-step.active {
  display: block;
}

.buttons-container {
  display: flex;
  gap: var(--size-200);
  justify-content: flex-end;
}


.employee-img {
  width: 90px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}




#attendance-view,
#leave-view {
  border-radius: 10px;
  border: solid 1px var(--clr-neutral-300);
}

#vertical-tabs {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* space-y-1 */
}

.vertical-tab-btn {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  color: var(--clr-neutral-600);
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
  outline: none;
  border: none;
}

.vertical-tab-btn:hover {
  background-color: var(--clr-accent-400); /* Gray-100 */
  color: var(--clr-neutral-100);
}

.vertical-tab-btn.active {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  font-weight: 600;
}

#main-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: row;
  gap: var(--size-400);
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

/* PAYROLL SUMMARY */

.summary-header {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  padding: var(--size-400) var(--size-500);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.summary-body {
  background-color: #fff;
  padding: var(--size-400) var(--size-500);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* DASHBOARD */
.dashboard-icons i {
  font-size: var(--fs-500);
  padding: var(--size-200) var(--size-100);
}

.cutoff-container {
  background-color: #E1F1BC;
  color: #698724;
}

@media (max-width: 33em) { /*528 px*/
  #createBtn,
  #editBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;

    font-size: 0;
  }

  #createBtn::after {
    content: "\2b";
    font-size: 1.5rem;
    font-family: "Font Awesome 6 Free";
    display: inline-block;
  }

  #editBtn::after {
    content: "\f044";
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* required for solid icons */
    font-size: 1.5rem;
    display: inline-block;
  }

  .content-search input,
  .content-search > div {
    width: 100%;
    
  }
  
  .section {
    margin-bottom: var(--size-600);
  }

  #main-content {
    flex-direction: column;
  }

  .employee-img {
    width: 70px;
  }
}

@media (max-width: 25em) { /*400 px*/
  .section-tabs {
    flex-direction: column;
  }

  .tabs {
    font-size: var(--fs-100);
    width: fit-content;
    border: none;
  }
}