.gap-10 {gap: var(--size-100);}
.gap-20 {gap: var(--size-200);}
.gap-30 {gap: var(--size-300);}
.gap-40 {gap: var(--size-400);}
.gap-50 {gap: var(--size-500);}
.gap-60 {gap: var(--size-600);}
.gap-70 {gap: var(--size-700);}
.gap-80 {gap: var(--size-800);}
.gap-90 {gap: var(--size-900);}

.padding-10 {padding: var(--size-100);}
.padding-20 {padding: var(--size-200);}
.padding-30 {padding: var(--size-300);}
.padding-40 {padding: var(--size-400);}
.padding-50 {padding: var(--size-500);}
.padding-60 {padding: var(--size-600);}
.padding-70 {padding: var(--size-700);}
.padding-80 {padding: var(--size-800);}
.padding-90 {padding: var(--size-900);}

.accent-400 {color: var(--clr-accent-400);}
.accent-500 {color: var(--clr-accent-500);}

.gray-text{color: var(--clr-neutral-400);}
.light-text{color: var(--clr-neutral-300);}

.width-100 {width: 100%;}

.height-90 {height: 90%;}

.bg-10 {background-color: var(--clr-neutral-100);}
.bg-white {background-color: #fff;}

.text-center { text-align: center; }

.align-center {align-items: center;}

.align-end {align-items: end;}

.justify-between {justify-content: space-between;}

.justify-center {justify-content: center;}

.justify-right {justify-content: flex-end;}

.justify-left {justify-content: flex-start;}

.row-reverse {flex-direction: row-reverse;}

.column-reverse {flex-direction: column-reverse;}

.rounded { border-radius: 10px; }

.shadow { box-shadow: 0 4px 8px rgba(0,0,0,0.1); }

.hidden { display: none !important; }

.header {font-size: var(--fs-700);}

.sub-header {font-size: var(--fs-500);}

.bold {font-weight: var(--fw-bold);}

.small-text {font-size: var(--fs-100);}

.cta { 
  background-color: var(--clr-accent-400);
  padding: var(--size-300) var(--size-500);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: var(--fw-bold);
  width: max-content;
  color: var(--clr-neutral-200);
}

.noOutlineBtn {
  outline: none;
  border: none;
  white-space: nowrap;
  padding: var(--size-100);
  background-color: transparent;
}

.btn {
  border-radius: 10px;
  outline: none;
  border: solid 1px var(--clr-neutral-300) !important;
  background-color: transparent;
  padding: var(--size-200) var(--size-300);
  white-space: nowrap;
}

.solidBtn {
  background-color: var(--clr-accent-400) !important;
  color: var(--clr-neutral-100);
  border-color: var(--clr-accent-400) !important;
}

.solidBtn:hover {
  background-color: #5D3DE7 !important;
  border-color: #5D3DE7 !important;
}

.outlineBtn:hover {
  border-color: #5D3DE7 !important;
  color: #5D3DE7;
}

.primary-status,
.secondary-status,
.tertiary-status {
  font-size: var(--fs-100);
  padding: var(--size-100) var(--size-200);
  width: fit-content;
  border-radius: 15px;
}

.primary-status {
  color: var(--clr-accent-400);
  background-color: #E6E2F8;
}

.secondary-status {
  color: #698724;
  background-color: #E1F1BC;
}

.tertiary-status {
  color: #B21589;
  background-color: #F0B0D9;
}

.accent-text {color: blue;}

.green-text {
  color: #698724;
}

.red-text {
  color: #cf0505;
}